body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  /* color: #332A4D; */
  /* background-color: #F1F2F0; */
}

.row {
  padding: 5px;
  background-color: #d3d3d3;
  border-bottom: 1px solid #a9a9a9;
  /* margin-bottom: 10px; */
}

.dropdown {
  padding: 5px;
}

.fa-check {
  padding-left: 15px;
  float: right;
  vertical-align: middle;
}

/* #selectedClinicalQuestionsButton {
  float: right;
  vertical-align: middle;
} */
