{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="dropdown">
    <button class="btn btn-dark btn-lg dropdown-toggle" type="button" id="patientDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Patient #
    </button>
    <div id="patient" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" onclick="selectPatient(this, 1)">1</a>
      <a class="dropdown-item" onclick="selectPatient(this, 2)">2</a>
      <a class="dropdown-item" onclick="selectPatient(this, 3)">3</a>
      <a class="dropdown-item" onclick="selectPatient(this, 4)">4</a>
      <a class="dropdown-item" onclick="selectPatient(this, 5)">5</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-primary btn-lg dropdown-toggle disabled" type="button" id="panasDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      PANAS Dataset
    </button>
    <div id="panas" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item active" onclick="selectPANAS(this, 'pos')">PA</a>
      <a class="dropdown-item" onclick="selectPANAS(this, 'neg')">NA</a>
      <a class="dropdown-item" onclick="selectPANAS(this, 'div')">PA/NA</a>
      <a class="dropdown-item" onclick="selectPANAS(this, 'log')">log(PA/NA)</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-danger btn-lg dropdown-toggle disabled" type="button" id="clinicalDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Clinical Dataset
    </button>
    <div id="clinical" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item active" onclick="selectClinical(this, 'HAM-D-17')">HAM-D-17</a>
      <a class="dropdown-item" onclick="selectClinical(this, 'HAM-D-28')">HAM-D-28</a>
      <a class="dropdown-item" onclick="selectClinical(this, 'HAM-A')">HAM-A</a>
      <a class="dropdown-item" onclick="selectClinical(this, 'PSS')">PSS</a>
      <a class="dropdown-item" onclick="selectClinical(this, 'ERS')">ERS</a>
      <a class="dropdown-item" onclick="selectClinical(this, 'RRS')">RRS</a>
      <a class="dropdown-item" data-toggle="modal" data-target="#selectedClinicalQuestionsModal">
        View Selected Clinical Questions
      </a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-dark btn-lg dropdown-toggle disabled" type="button" id="aggregationDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Aggregation
    </button>
    <div id="aggregation" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item active" href="#" onclick="updateAggregation(this, 'none')">None</a>
      <a class="dropdown-item" href="#" onclick="updateAggregation(this, 'mean')">Mean</a>
      <a class="dropdown-item" href="#" onclick="updateAggregation(this, 'median')">Median</a>
      <a class="dropdown-item" href="#" onclick="updateAggregation(this, 'max')">Max</a>
      <a class="dropdown-item" href="#" onclick="updateAggregation(this, 'min')">Min</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-dark btn-lg dropdown-toggle disabled" type="button" id="numDaysDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      # of Days
    </button>
    <div id="days" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" onclick="updateNumDays(this, 1)">1</a>
      <a class="dropdown-item" href="#" onclick="updateNumDays(this, 2)">2</a>
      <a class="dropdown-item" href="#" onclick="updateNumDays(this, 3)">3</a>
      <a class="dropdown-item" href="#" onclick="updateNumDays(this, 4)">4</a>
      <a class="dropdown-item" href="#" onclick="updateNumDays(this, 5)">5</a>
      <a class="dropdown-item" href="#" onclick="updateNumDays(this, 6)">6</a>
      <a class="dropdown-item" href="#" onclick="updateNumDays(this, 7)">7</a>
      <a class="dropdown-item" href="#" onclick="updateNumDays(this, 8)">8</a>
      <a class="dropdown-item" href="#" onclick="updateNumDays(this, 9)">9</a>
      <a class="dropdown-item" href="#" onclick="updateNumDays(this, 10)">10</a>
      <a class="dropdown-item" href="#" onclick="updateNumDays(this, 11)">11</a>
      <a class="dropdown-item" href="#" onclick="updateNumDays(this, 12)">12</a>
      <a class="dropdown-item" href="#" onclick="updateNumDays(this, 13)">13</a>
      <a class="dropdown-item" href="#" onclick="updateNumDays(this, 14)">14</a>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="selectedClinicalQuestionsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Selected Clinical Questions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="clinical-questions">
          <!-- clinical question inputs created here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="replotClinicalData()" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="timeSeries"><!-- Plotly chart will be drawn inside this DIV --></div>
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  // first index is selected PANAS data object
  // second index is selected Clinical data object
  // object form:
  // {
  //   'dataset_name': {
  //     'date': [],
  //     'score': []
  //   }
  // }

  // DEFAULT VALUES ===========================================================
  let patientNumber = 1;
  let panasDataset = 'pos';
  let clinicalDataset = 'HAM-D-17';
  let aggregationType = 'none';
  let numDays = 1;
  const patientButtonDiv = document.getElementById('patientDropdownMenuButton');
  const panasButtonDiv = document.getElementById('panasDropdownMenuButton');
  const clinicalButtonDiv = document.getElementById('clinicalDropdownMenuButton');
  const aggregationButtonDiv = document.getElementById('aggregationDropdownMenuButton');
  const numDaysButtonDiv = document.getElementById('numDaysDropdownMenuButton');

  // GENERIC ARRAY AGGREGATION FUNCTIONS ======================================
  let mean = (arr) => {
    let sum = arr.reduce((a,b) => a+b);
    return sum / arr.length;
  };

  let median = (arr) => {
    let sortedArr = arr.sort((a,b) => a-b);
    let lowMid = Math.floor((sortedArr.length - 1) / 2);
    let highMid = Math.ceil((sortedArr.length - 1) / 2);
    return (sortedArr[lowMid] + sortedArr[highMid]) / 2;
  };

  let max = (arr) => {
    return arr.reduce((a,b) => Math.max(a,b));
  }

  let min = (arr) => {
    return arr.reduce((a,b) => Math.min(a,b));
  }

  // UTILITY FUNCTIONS ========================================================
  function changeMenuSelection(thisEl, menuId) {
    let dropdownItems = document.getElementById(menuId).childNodes;

    for (let item of dropdownItems) {
      if (item.nodeType != Node.TEXT_NODE) {
        if (item.getAttribute("class") === "dropdown-item active") {
          item.setAttribute("class", "dropdown-item");
        }
      }
    }

    thisEl.setAttribute("class", "dropdown-item active");
  }

  function panasToDate(d) {
    return new Date(d);
  }

  function reduceScoreArr(score_arr) {
    const reducer = (accumulator, currentValue) => accumulator + currentValue
    return score_arr.reduce(reducer)
  }

  function enableNumDaysButton() {
    numDaysButtonDiv.classList.remove("disabled");
  }

  function disableNumDaysButton() {
    numDaysButtonDiv.classList.add("disabled");
  }

  // Function to reset menu selections to default
  function resetMenuSelections() {
    const menuIds = ['panas', 'clinical', 'aggregation', 'days'];

    for (let menuId of menuIds) {
      let dropdownItems = document.getElementById(menuId).childNodes;
      console.log(dropdownItems);

      for (let i = 0; i < dropdownItems.length; i++) {
        if (dropdownItems[i].nodeType != Node.TEXT_NODE) {
          if (i == 1) {
            dropdownItems[i].setAttribute("class", "dropdown-item active");
          } else {
            dropdownItems[i].setAttribute("class", "dropdown-item");
          }
        }
      }
    }
  }

  // Function to reset everything to default
  function resetToDefaults() {
    panasDataset = 'pos';
    clinicalDataset = 'HAM-D-17';
    aggregationType = 'none';
    numDays = 0;
    panasButtonDiv.innerHTML = "PANAS Dataset [PA]";
    clinicalButtonDiv.innerHTML = "Clinical Dataset [" + clinicalDataset + "]";
    aggregationButtonDiv.innerHTML = 'Aggregation [None]';
    numDaysButtonDiv.innerHTML = '# of Days [N/A]';

    disableNumDaysButton();
    resetMenuSelections();
    createQuestionsDiv();
  }

  // CREATE CLINICAL QUESTIONS CHECKBOXES PROGRAMMATICALLY =====================
  const clinicalQuestionsDiv = document.getElementById('clinical-questions');

  function createQuestionsDiv() {
    // clear question div and re-create
    while (clinicalQuestionsDiv.hasChildNodes()) {
        clinicalQuestionsDiv.removeChild(clinicalQuestionsDiv.childNodes[0]);
    }
    clinicalScoreArr = clinical_data['P' + patientNumber][clinicalDataset]['scores'][0];

    for (let i = 0; i < clinicalScoreArr.length; i++) {
      let newQuestionDiv = document.createElement('div');
      newQuestionDiv.className = "new-question";
      const inputEle = document.createElement("input");
      inputEle.setAttribute('type', 'checkbox');
      inputEle.checked = true;
      inputEle.className = "new-question-input";
      const labelEle = document.createElement("label");
      labelEle.innerHTML = i+1;
      labelEle.className = "new-question-label";
      newQuestionDiv.appendChild(inputEle)
      newQuestionDiv.appendChild(labelEle);
      clinicalQuestionsDiv.appendChild(newQuestionDiv);
    }
  }

  function replotClinicalData() {
    // listen for checkmark activity
    console.log('replot fn called');
    let checkedArr = [];

    let inputs = document.querySelectorAll("input[type='checkbox']");
    for (let i = 0; i < inputs.length; i++) {
      inputs[i].checked === true ? checkedArr.push(true) : checkedArr.push(false);
    }

    console.log(checkedArr);

    let newClinicalObj = {
      x: clinical_data['P' + patientNumber][clinicalDataset]['date'].map(clinicalToDate),
      mode: 'lines+markers',
      type: 'scatter',
      name: clinicalDataset,
      yaxis: 'y2',
      line: {
        dash: 'solid',
        color: '#dc3545',
        width: 1
      }
    }

    // make copy of original clinical dataset
    let newClinicalScoreArr = clinical_data['P' + patientNumber][clinicalDataset]['scores'].map(function(arr) {
        return arr.slice();
    });

    // loop through and only add these to the display array, for each array in clinical_data['P' + patientNumber][clinicalDataset]['scores']
    for (let i = 0; i < checkedArr.length; i++) {
      if (checkedArr[i] === false) {
        for (let j = 0; j < newClinicalScoreArr.length; j++) {
          newClinicalScoreArr[j][i] = 0;
        }
      }
    }

    console.log(newClinicalScoreArr);

    newClinicalObj.y = newClinicalScoreArr.map(reduceScoreArr);
    data[1] = newClinicalObj;

    Plotly.newPlot('timeSeries', data, layout);
  }

  // MAIN AGGREGATION FUNCTION FOR PANAS DATA =================================
  function aggregatePANAS() {
    console.log(data);

    let panasDisplayArr = {
      'date': [],
      'score': []
    }

    let clinicalDisplayArr = {
      'date': [],
      'score': []
    }

    panasDateArr = data[0].x;
    panasScoreArr = data[0].y;
    clinicalDateArr = data[1].x;
    clinicalScoreArr = data[1].y;
    clinicalScaleName = data[1].name;

    let k = 0;

    for (let i = 0; i < clinicalDateArr.length; i++) {
      // current aggregated panas score array
      let thisScoreAggregationArrPANAS = [];

      for (let j = k; j < panasDateArr.length; j++) {
        // if within time interval range
        if (panasDateArr[j].getTime() <= clinicalDateArr[i].getTime() && panasDateArr[j].getTime() > clinicalDateArr[i].getTime() - (numDays * 24 * 60 * 60 * 1000)) {
          thisScoreAggregationArrPANAS.push(panasScoreArr[j]);
        } else {
          if (thisScoreAggregationArrPANAS.length != 0) {
            panasDisplayArr.date.push(clinicalDateArr[i]);
            clinicalDisplayArr.date.push(clinicalDateArr[i]);
            clinicalDisplayArr.score.push(clinicalScoreArr[i]);

            if (aggregationType == 'mean') {
              panasDisplayArr.score.push(mean(thisScoreAggregationArrPANAS));
            }
            if (aggregationType == 'median') {
              panasDisplayArr.score.push(median(thisScoreAggregationArrPANAS));
            }
            if (aggregationType == 'max') {
              panasDisplayArr.score.push(max(thisScoreAggregationArrPANAS));
            }
            if (aggregationType == 'min') {
              panasDisplayArr.score.push(min(thisScoreAggregationArrPANAS));
            }

            k = j - 1; // retain index in panasDateArr for next clinical date
            thisScoreAggregationArrPANAS = []
            break;
          }
        }
      }
    }

    let panasDisplayObj = {
      x: panasDisplayArr['date'].map(panasToDate),
      y: panasDisplayArr['score'],
      mode: 'lines+markers',
      type: 'scatter',
      name: PANAS_names[patientNumber - 1],
      line: {
        dash: 'solid',
        color: '#007bff',
        width: 1
      }
    };
    let clinicalDisplayObj = {
      x: clinicalDisplayArr['date'],
      y: clinicalDisplayArr['score'],
      mode: 'lines+markers',
      type: 'scatter',
      name: clinicalScaleName,
      yaxis: 'y2',
      line: {
        dash: 'solid',
        color: '#dc3545',
        width: 1
      }
    };
    displayData = [panasDisplayObj, clinicalDisplayObj];

    Plotly.newPlot('timeSeries', displayData, layout);
  }

  // MENU SELECTION FUNCTIONS =================================================
  function selectPatient(thisEl, patientNum) {
    changeMenuSelection(thisEl, "patient");
    patientNumber = patientNum;

    patientButtonDiv.innerHTML = "Patient [" + patientNum + "]";
    panasButtonDiv.classList.remove("disabled");
    clinicalButtonDiv.classList.remove("disabled");
    aggregationButtonDiv.classList.remove("disabled");
    resetToDefaults();

    let newPANASObj = {
      x: panas_data[PANAS_names[patientNum - 1]]['date'].map(panasToDate),
      y: panas_data[PANAS_names[patientNum - 1]]['positive_scores'].map(reduceScoreArr),
      mode: 'lines+markers',
      type: 'scatter',
      name: PANAS_names[patientNum - 1],
      line: {
        dash: 'solid',
        color: '#007bff',
        width: 1
      }
    };

    let newClinicalObj = {
      x: clinical_data['P' + patientNum][clinicalDataset]['date'].map(clinicalToDate),
      y: clinical_data['P' + patientNum][clinicalDataset]['scores'].map(reduceScoreArr),
      mode: 'lines+markers',
      type: 'scatter',
      name: clinicalDataset,
      yaxis: 'y2',
      line: {
        dash: 'solid',
        color: '#dc3545',
        width: 1
      }
    }

    data = [newPANASObj, newClinicalObj];
    Plotly.newPlot('timeSeries', data, layout);
  }

  function selectPANAS(thisEl, affectType) {
    changeMenuSelection(thisEl, "panas");
    panasDataset = affectType;

    let thisPANASTrace = {
      x: panas_data[PANAS_names[patientNumber - 1]]['date'].map(panasToDate),
      mode: 'lines+markers',
      type: 'scatter',
      name: PANAS_names[patientNumber - 1],
      line: {
        dash: 'solid',
        color: '#007bff',
        width: 1
      }
    };

    if (panasDataset == 'pos') {
      thisPANASTrace.y = panas_data[PANAS_names[patientNumber - 1]]['positive_scores'].map(reduceScoreArr);
      panasButtonDiv.innerHTML = "PANAS Dataset [PA]";
    }
    if (panasDataset == 'neg') {
      thisPANASTrace.y = panas_data[PANAS_names[patientNumber - 1]]['negative_scores'].map(reduceScoreArr);
      panasButtonDiv.innerHTML = "PANAS Dataset [NA]";
    }
    if (panasDataset == 'div' || panasDataset == 'log') {
      thisPANASTrace.y = [];
      for (i = 0; i < panas_data[PANAS_names[patientNumber - 1]]['positive_scores'].map(reduceScoreArr).length; i++) {
        let pos = panas_data[PANAS_names[patientNumber - 1]]['positive_scores'].map(reduceScoreArr)[i];
        let neg = panas_data[PANAS_names[patientNumber - 1]]['negative_scores'].map(reduceScoreArr)[i];
        if (panasDataset == 'div') {
          thisPANASTrace.y.push(pos/neg);
          panasButtonDiv.innerHTML = "PANAS Dataset [PA/NA]";
        } else {
          thisPANASTrace.y.push(Math.log(pos/neg));
          panasButtonDiv.innerHTML = "PANAS Dataset [log(PA/NA)]";
        }
      }
    }

    data[0] = thisPANASTrace;
    console.log(data);
    Plotly.newPlot('timeSeries', data, layout);
    if (aggregationType != 'none') {
      aggregatePANAS();
    }
  }

  function clinicalToDate(d) {
  	let parts = d.split('/');

    return new Date('20' + parts[2], parts[0], parts[1]);
  }

  // function to modify selected clinical dataset
  function selectClinical(thisEl, scale) {
    changeMenuSelection(thisEl, "clinical");
    console.log('selected scale: ', scale);
    clinicalDataset = scale;

    clinicalButtonDiv.innerHTML = "Clinical Dataset [" + scale + "]";

    let newClinicalObj = {
      x: clinical_data['P1'][scale]['date'].map(clinicalToDate),
      y: clinical_data['P1'][scale]['scores'].map(reduceScoreArr),
      mode: 'lines+markers',
      type: 'scatter',
      name: scale,
      yaxis: 'y2',
      line: {
        dash: 'solid',
        color: '#dc3545',
        width: 1
      }
    }

    data[1] = newClinicalObj;
    console.log(data);
    Plotly.newPlot('timeSeries', data, layout);
    if (aggregationType != 'none') {
      aggregatePANAS();
    }
    createQuestionsDiv();
  }

  // default = 1
  function updateNumDays(thisEl, days) {
    changeMenuSelection(thisEl, "days");
    console.log('selected num days: ', days);
    numDaysButtonDiv.innerHTML = "# of Days [" + days + "]";

    numDays = days;
    aggregatePANAS();
  }

  // default = none
  function updateAggregation(thisEl, type) {
    changeMenuSelection(thisEl, "aggregation");
    console.log('selected agg type: ', type);
    aggregationButtonDiv.innerHTML = "Aggregation [" + type.charAt(0).toUpperCase() + type.slice(1) + "]";

    aggregationType = type;
    if (aggregationType != 'none') {
      enableNumDaysButton();
      if (numDays != 0) {
        numDaysButtonDiv.innerHTML = "# of Days [" + numDays + "]";
        aggregatePANAS();
      }
    } else {
      disableNumDaysButton();
      numDays = 0; // reset numDays to 0 when aggregation is reset to 'none'
      numDaysButtonDiv.innerHTML = "# of Days [N/A]";
      Plotly.newPlot('timeSeries', data, layout);
    }
  }

  // DEFAULT BEHAVIOR (get data, set initial states) ==========================
  let panas_data = JSON.parse({{ panas_data|tojson|safe }});
  console.log(panas_data);
  let PANAS_names = Object.keys(panas_data);
  console.log(PANAS_names);

  let clinical_data = JSON.parse({{ clinical_data|tojson|safe }});
  console.log(clinical_data);
  let clinical_names = [];
  for (const key in clinical_data) {
    for (const scale_name in clinical_data[key]) {
      clinical_names.push(key + '-' + scale_name);
    }
  }
  console.log(clinical_names);

  // empty initial selected datasets
  let data = [{}, { yaxis: 'y2' }];

  let layout = {
    title:'Time Series of PANAS & Clinical Scale',
    xaxis: {
      title: 'Date',
      titlefont: {size: 16},
      tickfont: {size: 14},
    },
    yaxis: {
      title: 'PANAS Score',
      titlefont: {color: '#007bff', size: 16},
      tickfont: {color: '#007bff', size: 14},
    },
    yaxis2: {
      title: 'Clinical Scale Score',
      titlefont: {color: '#dc3545', size: 16},
      tickfont: {color: '#dc3545', size: 14},
      overlaying: 'y',
      side: 'right',
    },
    width: 1200,
    height: 600,
    legend: {
      x: 0.9,
      y: -0.25,
      traceorder: 'normal',
      // orientation: 'h',
      font: {
        size: 14
      },
      // bgcolor: '#E2E2E2',
      // bordercolor: '#FFFFFF',
      // borderwidth: 2
    },
    font: {
      family: "'Roboto', sans-serif",
      size: 16
    },
    // paper_bgcolor: '#F1F2F0',
    // plot_bgcolor: '#F1F2F0'
  };

  Plotly.newPlot('timeSeries', data, layout);
</script>

{% endblock %}
